<!-- <button mat-raised-button color="primary">Primary</button> -->

<mat-card  class="example-card">
  <mat-card-header>
    <div mat-card-avatar [ngClass]="{'example-header-image': available }"></div>
    <mat-card-title>{{ name }}</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img appMouse *ngIf="available; else alter" mat-card-image src="{{ srcImg }}" alt="Photo of a Shiba Inu">
  <ng-template #alter>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu1">
  </ng-template>
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
    <li *ngFor="let skill of skills; index as i">
      <!-- Usdo del Pipe Global-->
      {{ i +1 }} - {{ skill | trim: false: true}}
    </li>
    <div [ngSwitch]="categoria">
      <p *ngSwitchCase="'perro'"> El Shiba es un perro</p>
      <p *ngSwitchCase="'gato'"> El Shiba es un perro</p>
      <p *ngSwitchDefault> El Shiba es un perro</p>
    </div>
    <!-- Pipes Genéricos -->
    <p>Nacimiento: {{ birthday }} </p>
    <p>Nacimiento: {{ birthday | date:"dd/MMM/yyyy" | lowercase}} </p>
    <p>Dolar: {{ 4500 | currency: 'USD'}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="photo1($event)">PHOTO 1</button>
    <button mat-button (click)="photo2()" [disabled]="!morePhotos">PHOTO 2</button>
    <input value="" (keypress)="showName($event.target.value)">
  </mat-card-actions>
  <mat-card-actions>
    <input [(ngModel)]="name">
  </mat-card-actions>
</mat-card>