<mat-toolbar color="primary">
    <span>A8-start</span>
    <span class="example-spacer"></span>
    <button mat-flat-button color="primary" routerLink="/inicio" routerLinkActive="active" >Inicio</button>
    <button mat-flat-button color="primary" routerLink="/clase" routerLinkActive="active" >Clase</button>
    <button mat-flat-button color="primary" routerLink="/tarea1" routerLinkActive="active" >Tarea1</button>
  </mat-toolbar>

  <!-- <nav>
    <ul>
        <li><a >First Component</a></li>
        <li><a >Second Component</a></li>
    </ul>
</nav> -->